@import '../utils/palette.scss';

@media (min-width: 300px) {
    .app {
        &__layout {
            grid-template-columns: 1fr;
            grid-template-rows: 20% 70% 10%;
            grid-template-areas:
            'header'
            'main'
            'footer';
        }
    }
}

@media (min-width: 768px) {
    .app {
        &__layout {
            grid-template-rows: 25% 65% 10%;
        }
    }
}

@media (min-width: 1080px) {
    .app {
        &__layout {
            grid-template-rows: 30% 60% 10%;
        }
    }
}

.main {
    &__container {
        grid-area: main;
        margin: 0 auto;
    }
}

/* ----- General component -----
 ----------------------------*/

.registerSection {
    background-color: $basicWhite;
    padding: 50px 0;
    position: relative;
    bottom: 54px;
    margin: 0 auto;
    width: 90vw;
    z-index: 3;

    &__catalog {
        background-color: unset;
    }
}

.redButton {
    background-color: $secondRed;
    border-radius: 30px;
    border: none;
    color: $basicWhite;
    cursor: pointer;
    font-size: 1.3em;
    height: 44px;
    margin: 10px;
    width: 35%;

    &:hover {
        background-color: $primaryRed;
    }
}

.redButton a {
    color: $basicWhite;
}

.whiteButton {
    background-color: $basicWhite;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.3em;
    height: 44px;
    margin: 10px;
    width: 35%;

    &:hover {
        background-color: $lightGrey;
    }
}

.whiteButton a {
    color: #000000;
}

.catalogSectionLayout {
    background: white;
    bottom: 154px;
    margin: 0 auto;
    position: relative;
    width: 90vw;
    z-index: 2;
}

.inputStyle {
    border-radius: 20px;
    margin-bottom: 14px;
    padding: 6px;
    width: 100%;
}

@media (min-width: 300px) {
    .infoLayout {
        display: flex;
        font-size: 0.8em;
        justify-content: space-between;
        width: 75%;
    }

    .fieldsetStyle {
        border: none;
        padding: 0;
        width: 75%;
    }
}

@media (min-width: 768px) {
    .fieldsetStyle{
        width: 50%;
    }

    .infoLayout {
        width: 50%;
    }
}

@media (min-width: 1080px) {
    .fieldsetStyle{
        width: 36%;
    }

    .infoLayout {
        width: 36%;
    }
}
