@media (min-width: 300px) {
  .app {
    &__background {
        background-image: url(../../assets/background.png);
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 25vh;
    }
  }
}

@media (min-width: 768px) {
    .app {
        &__background {
            height: 30vh;
        }
    }
}

@media (min-width: 1080px) {
    .app {
        &__background {
            height: 40vh;
        }
    }
}
