/* ---- CATALOGUE SECTION -----
 ----------------------------*/
@import '../utils/palette.scss';

.catalogue {
    &__iconsContainer {
        display: flex;
        height: 100px;
        justify-content: space-around;
        margin: 0 auto;
        width: 60%;
    }

    &__iconContainer {
        background-color: $lightGrey;
        border-radius: 50%;
        border: 2px solid $primaryRed;
        cursor: pointer;
        height: 66px;
        position: relative;
        width: 66px !important;

        &:hover {
            background-color: $primaryRed;
        }
    }

    &__iconImage {
        height: 44px;
        left: 9px;
        object-fit: scale-down;
        position: relative;
        top: 10px;
        width: 44px;
    }

    &__title {
        position: relative;
        top: 34px;
    }
}

@media (min-width: 300px) {
    .catalogue {
        &__iconsContainer {
            width: 90%;
        }
    }
}

@media (min-width: 768px) {
    .catalogue {
        &__iconsContainer {
            width: 60%;
        }
    }
}