@import '../utils/palette.scss';

/* ----- Home Sign / Log -----
 ----------------------------*/

@media (min-width: 300px) {
    .home {
        &__signSection {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
        }

        &__image {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .home {

        &__image {
            display: unset;
            margin-bottom: 16px;
            width: 20%;
        }

    }
}

@media (min-width: 1080px) {
    .home {

        &__image {
            width: 15%;
        }
    }
}

/* ---- ABOUT US SECTION -----
 ----------------------------*/

@media (min-width: 300px) {
    .heading {
        border-bottom: 2px solid $secondRed;
        font-size: 1.2em;
        line-height: 0.1em;
        text-align: center;
        text-transform: uppercase;
        width: 70%;

        &__background {
            background-color: $lightGrey;
            padding: 0 20px;
        }
    }

    .about {
        &__container {
            align-items: center;
            color: $darkGrey;
            display: flex;
            flex-flow: column;
            margin-bottom: 50px;
        }

        &__paragraph {
            font-size: 1.3em;
            margin-top: 44px;
            text-align: center;
            width: 80%;
        }
    }
}

@media (min-width: 768px) {
    .heading {
        font-size: 2em;
        width: 50%;
    }

    .about {

        &__paragraph {
            font-size: 1.3em;
            margin-top: 44px;
            text-align: center;
            width: 60%;
        }
    }
}

@media (min-width: 1080px) {
    .about {

        &__paragraph {
            width: 35%;
        }
    }
}

/* ---- BENEFITS SECTION -----
 ----------------------------*/

.benefit {
    &__container {
        background-color: $basicWhite;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(370px, 1fr) );
        padding-bottom: 50px;
        padding-top: 50px;
    }

    &__elements {
        margin: 10px auto;
        text-align: center;
        width: 60%;
    }

    &__title {
        text-transform: uppercase;
    }
}

/* ---- SEARCH SECTION -----
 ----------------------------*/

.search {
    &__container {
        color: $darkGrey;
        margin: 40px auto;
        text-align: center;
        width: 90vw;
    }

    &__layout {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }

    &__image {
        width: 22%;
        margin: 24px 0;
    }

    &__elements {
        margin: 20px;
    }

    &__title {
        margin: 0 auto;
    }
}

@media (min-width: 1080px) {

    .benefit {
        &__container {
            grid-template-columns: repeat( auto-fit, minmax(430px, 1fr) );
        }
    }

    .search {
        &__layout {
            grid-template-columns: repeat( auto-fit, minmax(430px, 1fr) );
        }

        &__elements {
            margin: 40px;
        }

        &__image {
            width: 14%;
        }
    }
}