@import '../utils/palette.scss';

@media (min-width: 300px) {
    .registration {

        &__layout {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        &__fieldset {
            border: none;
            padding: 0;
            width: 75%;
        }

        &__form {
            width: 100%;
        }

        &__legend {
            margin-bottom: 20px;
            text-align: center;
            width: 100%;
        }

        &__inputs {
            border-radius: 20px;
            margin-bottom: 14px;
            padding: 6px;
            width: 100%;
        }

        &__information {
            display: flex;
            font-size: 0.8em;
            justify-content: space-between;
            width: 75%;
        }

        &__text {
            text-align: end;

            &--color {
                color: $primaryRed;
                cursor: pointer;
            }

            &--color:hover {
                color: $darkGrey;
            }
        }

        &__eyeIcon {
            position: absolute;
            right: 10px;
            top: 2px;
        }

        &__showPass {
            position: relative;
        }
    }
}

@media (min-width: 768px) {
    .registration {

        &__fieldset {
            width: 50%;
        }

        &__information {
            width: 50%;
        }
    }
}

@media (min-width: 1080px) {
    .registration {

        &__fieldset {
            width: 32%;
        }

        &__information {
            width: 32%;
        }
    }
}